*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Roboto', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
nav{
    min-width: 100%;
    height: 80px;
    /* background: darkgrey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0px 20px;
    box-shadow:0 2px 5px  rgba(0,0,0,0.16) ;
}
h1{
    margin: 50px 0 10px 130px;
}
li, a{
    list-style: none;
    text-decoration: none;
    color: black;
}

nav .left img{
    width: 60px;
}
nav .middle{
    display: flex;
   /* gap: 20px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav .middle img{
    margin:0px 10px;
    width: 30px;
}
.middle span{
    font-size: 20px;
    font-weight: 500;
}

nav .middle img:hover{
    cursor: pointer;
}

nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
}
nav .right img{
    margin-right: 10px;
    width: 20px;
}


.img-container{
    display: flex;
    width: 1000px;
    height: 400px;
    margin: 30px auto;
   
}
.col{
    flex: 1;
    height: 100%;
    color: white;
    box-sizing: border-box;
    padding: 25px ;
    position: relative;
    transition: 0.6s;
}
.col:nth-child(1){
    background: url(img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
}
.col:nth-child(2){
    background: url(img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.col:nth-child(3){
    background: url(img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.col h2{
    text-align: left;
    font-size: 22px;
}

.col:hover{
    cursor: pointer;
    flex-grow: 2.5;
}